/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import '~@angular/material/theming';
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';

$custom-typography:
mat-typography-config(
    $font-family: 'Exo'
);

body{
    margin: 0;
}